<div class="list-group">
  <a
    class="list-group-item list-group-item-action"
    aria-current="true"
    routerLink="/cars"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    {{ title }}
    <a
      *ngIf="isLoggedIn() && user.role === 'admin'"
      routerLink="/colorAdd"
      class="btn btn-primary float-end"
    >
      <fa-icon class="far" [icon]="faPlusSquare"></fa-icon>
    </a>
  </a>
  <a
    *ngFor="let color of colors"
    class="list-group-item list-group-item-action"
    routerLink="/cars/color/{{ color.colorName }}"
    routerLinkActive="active"
    >{{ color.colorName }}
    <a
      *ngIf="isLoggedIn() && user.role === 'admin'"
      routerLink="/colorUpdate/{{ color.colorID }}"
      class="btn btn-outline-primary float-end"
    >
      <fa-icon [icon]="faEdit"></fa-icon>
    </a>
  </a>
</div>
