<div class="list-group">
  <a
    routerLink="/cars"
    [ngClass]="{ active: !params.includes('colorName') }"
    class="list-group-item list-group-item-action"
    aria-current="true"
    (click)="resetParams()"
  >
    {{ title }}
  </a>
  <a
    *ngFor="let color of colors"
    routerLink="#"
    class="list-group-item list-group-item-action"
    [ngClass]="{ active: this.params.includes(color.colorName) }"
    (click)="addColorNameToParams(color.colorName)"
    >{{ color.colorName }}
  </a>
</div>
