<div class="card">
  <div class="card-body">
    <form [formGroup]="customerAddForm" class="form">
      <div class="form-floating mb-3">
        <input
          type="text"
          id="companyName"
          formControlName="companyName"
          class="form-control"
          placeholder="Sirket Adi"
          [ngClass]="{
            'is-invalid':
              customerAddForm.get('companyName').touched &&
              customerAddForm.get('companyName').invalid
          }"
        />
        <label for="companyName">Sirket Adi</label>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button class="btn btn-fill btn-primary" (click)="addCustomer()">
      Ekle
    </button>
  </div>
</div>
