<div class="list-group">
  <a
    class="list-group-item list-group-item-action"
    aria-current="true"
    routerLink="/cars"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    {{ title }}
  </a>
  <a
    *ngFor="let brand of brands"
    class="list-group-item list-group-item-action"
    routerLink="/cars/brand/{{ brand.brandName }}"
    routerLinkActive="active"
    >{{ brand.brandName }}
    <a
      routerLink="/brandUpdate/{{ brand.brandID }}"
      class="btn btn-outline-primary float-end"
      >Guncelle</a
    ></a
  >
</div>
