<div class="col-md-12" *ngIf="customer">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="customerUpdateForm" class="form">
        <div class="form-floating mb-3">
          <input
            type="text"
            id="companyName"
            formControlName="companyName"
            class="form-control"
            placeholder="Sirket Adi"
            [ngClass]="{
              'is-invalid':
                customerUpdateForm.get('companyName').touched &&
                customerUpdateForm.get('companyName').invalid
            }"
          />
          <label for="companyName">Sirket Adi</label>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-fill btn-primary" (click)="updateCustomer()">
        Guncelle
      </button>
    </div>
  </div>
</div>
<div class="col-md-12" *ngIf="!customer">
  <app-customer-add [userID]="userID"></app-customer-add>
</div>
