<div *ngIf="color" class="container">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Renk Guncelle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="colorUpdateForm" class="form">
          <div class="form-floating mb-3">
            <input
              type="text"
              id="colorName"
              formControlName="colorName"
              class="form-control"
              placeholder="Renk adi"
              [ngClass]="{
                'is-invalid':
                  colorUpdateForm.get('colorName').touched &&
                  colorUpdateForm.get('colorName').invalid
              }"
            />
            <label for="colorName">Renk Adi</label>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="update()">
          Guncelle
        </button>

        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-outline-danger float-end"
          data-bs-toggle="modal"
          data-bs-target="#deleteColor"
        >
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="deleteColor"
  tabindex="-1"
  aria-labelledby="deleteColorLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteColorLabel">Rengi Sil</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Rengi silmek istediginizden emin misiniz?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Iptal
        </button>
        <button type="button" class="btn btn-danger" (click)="delete()">
          <fa-icon [icon]="faTrash"></fa-icon> Evet, sil
        </button>
      </div>
    </div>
  </div>
</div>
