<div class="container">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Renk ekle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="colorAddForm" class="form">
          <div class="form-floating mb-3">
            <input
              type="text"
              id="colorName"
              formControlName="colorName"
              class="form-control"
              placeholder="Renk Adi"
              [ngClass]="{
                'is-invalid':
                  colorAddForm.get('colorName').touched &&
                  colorAddForm.get('colorName').invalid
              }"
            />
            <label for="colorName">Renk Adi</label>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
      </div>
    </div>
  </div>
</div>
