<div class="container">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Arac ekle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="carAddForm" class="form">
          <div class="form-floating mb-3">
            <input
              type="text"
              id="carName"
              formControlName="carName"
              class="form-control"
              placeholder="Arac adi"
              [ngClass]="{
                'is-invalid':
                  carAddForm.get('carName').touched &&
                  carAddForm.get('carName').invalid
              }"
            />
            <label for="carName">Arac Adi</label>
          </div>

          <div class="form-floating mb-3">
            <select
              class="form-select"
              [ngClass]="{
                'is-invalid':
                  carAddForm.get('brandID').touched &&
                  carAddForm.get('brandID').invalid
              }"
              aria-label="Renk"
              formControlName="brandID"
            >
              <option selected></option>
              <option
                class="form-control"
                *ngFor="let brand of brands"
                [ngValue]="brand.brandID"
              >
                {{ brand.brandName }}
              </option>
            </select>
            <label for="brandID">Marka</label>
          </div>

          <div class="form-floating mb-3">
            <select
              class="form-select"
              [ngClass]="{
                'is-invalid':
                  carAddForm.get('colorID').touched &&
                  carAddForm.get('colorID').invalid
              }"
              aria-label="Renk"
              formControlName="colorID"
            >
              <option selected></option>
              <option
                type="number"
                class="form-control"
                *ngFor="let color of colors"
                [ngValue]="color.colorID"
              >
                {{ color.colorName }}
              </option>
            </select>
            <label for="colorID">Renk</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="number"
              id="dailyPrice"
              formControlName="dailyPrice"
              class="form-control"
              placeholder="Arac adi"
              [ngClass]="{
                'is-invalid':
                  carAddForm.get('dailyPrice').touched &&
                  carAddForm.get('dailyPrice').invalid
              }"
            />
            <label for="dailyPrice"
              >Gunluk fiyat
              {{
                carAddForm.value.dailyPrice
                  | currency: "TRY":"symbol-narrow":"1.2-2"
              }}</label
            >
          </div>

          <div class="form-floating mb-3">
            <input
              type="number"
              id="modelYear"
              formControlName="modelYear"
              class="form-control"
              placeholder="Arac adi"
              [ngClass]="{
                'is-invalid':
                  carAddForm.get('modelYear').touched &&
                  carAddForm.get('modelYear').invalid
              }"
            />
            <label for="modelYear">Model Yili</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="text"
              id="description"
              formControlName="description"
              class="form-control"
              placeholder="Aciklama"
              [ngClass]="{
                'is-invalid':
                  carAddForm.get('description').touched &&
                  carAddForm.get('description').invalid
              }"
            />
            <label for="description">Aciklama</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="number"
              id="findexScore"
              formControlName="findexScore"
              class="form-control"
              placeholder="Findeks Puani"
              min="0"
              max="1900"
              [ngClass]="{
                'is-invalid':
                  carAddForm.get('findexScore').touched &&
                  carAddForm.get('findexScore').invalid
              }"
            />
            <label for="findexScore">Findeks Puani</label>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
      </div>
    </div>
  </div>
</div>
