<div class="row mt-4">
  <div class="col-md-3">
    <div class="mb-4">
      <app-color
        params="{{ this.params }}"
        (setParams)="getParams($event)"
      ></app-color>
    </div>
    <div class="mb-4">
      <app-brand
        params="{{ this.params }}"
        (setParams)="getParams($event)"
      ></app-brand>
    </div>
  </div>

  <div class="col-md-9">
    <div
      class="d-flex flex-wrap justify-content-center justify-content-xl-start"
      style="gap: 0.75em; padding: 0"
    >
      <input
        class="form-control"
        id="carName"
        placeholder="Querystring ile arama yapabilirsiniz. Orn: brandName=Volkswagen&colorName=Siyah"
        [(ngModel)]="params"
      />
      <div
        *ngFor="let car of carsDto | carFilter: params"
        class="card"
        style="
          width: 18vw;
          min-width: 16rem;
          max-width: 18rem;
          min-height: 18rem;
          max-height: 23rem;
        "
      >
        <div class="d-flex" style="height: 45%">
          <img
            [src]="imageUrl + car.imagePaths[0]"
            class="card-img-top align-self-center"
            [alt]="car.carName"
            style="max-height: 100%; max-width: 100%; object-fit: cover"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ car.carName }}</h5>
          <p class="card-text">
            <b>Marka: </b>{{ car.brandName }} <br />
            <b>Renk: </b>{{ car.colorName }} <br />
            <b>Fiyat: </b>
            {{
              car.dailyPrice | currency: "TRY":"symbol-narrow":"1.2-2"
            }}/Gunluk
          </p>
          <a routerLink="/carDetail/{{ car.carID }}" class="btn btn-primary"
            >Detayina bak</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
